*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    background-color: rgb(221, 219, 219);
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;

}

h1{
    color: white;
    text-shadow: rgb(24, 21, 21) 3px 2px;
    padding: 10px;
}

.tudo{
    background-color: blue;
    width: 1920px;
    height: 768px;
    border-radius: 10px;
}

header{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-shadow: rgb(24, 21, 21) 3px 2px;
    text-align: center;
}

header img{
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: space-around;
}

.section_esquerda{
    width: 350px;
    text-align: center;
    padding-top: 130px;
}

.section_centro{
    padding-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid rgb(221, 219, 219) 2px;
}

.section_direita{
    width: 350px;
    text-align: center;
    padding-top: 130px;
}

input{
    border-radius: 5px;
}

#tempo input[type=submit]{
    margin-top: 10px;
    width: 110px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: skyblue;
}

#tempo input[type=text],
.video input[type=text]{
    width: 180px;
    height: 20px;
}

#tempo,
.video{
    border: solid skyblue 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.video{
    height: 145px;
}

.cor_contador{
    color: white;
    font-size: 50px;
    font-family: orbitron;
    text-shadow: rgb(24, 21, 21) 3px 2px;
}

.terminando{
    color: yellow;
    font-size: 65px;
    text-shadow: rgb(24, 21, 21) 3px 2px;
}

.fim,
#resposta{
    color: red;
    font-weight: bolder;
    font-size: 80px;
    text-shadow: rgb(24, 21, 21) 3px 2px;
    text-align: center;
}

.musica{
    /* border: solid black 1px; */
}

.ocultar{
    visibility: hidden;
}